language: php

os:
  - linux
  - osx

php:
  - 5.5
  - 5.6
  - hhvm

branches:
  only:
    - master

install: composer install --dev
script: phpunit

# Build environment and configuration documentation: 
# http://docs.travis-ci.com/user/languages/php/
